table {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 25px;
    overflow: hidden;
    margin: 40px;
}

td {
    padding: 20px;
}

th {
    border: 1px solid black;
}

tbody tr:hover{
    background-color: #fbfcf8;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
  }

thead th{
    background-color: #0A2543;
    color: white;
}

.allapplicantbtn{
    border: 1px solid #3AC6EA;
    background-color: #3AC6EA;
    width: 100px;
    height: 30px;
    border-radius: 7px;
    color: white;
    float: right;
    /* margin-left: 840px; */
}