.topnav {
	overflow: hidden;
	background-color: #3AC6EA;
	padding-left: 30px;
  }
  
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 15px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	text-decoration: underline;
  }
  
  .topnav a.active {
	color: #0A2543;
  }
  
  .topnav-right, .topnav-right div {
	float: right;
	padding-right: 30px;
  }


  .search{
	outline: none;
	border-radius:  10px;
	border: 1px solid white;
	background-color: transparent;
	padding: 5px ;
	margin: 0.9em;
	width: 350px;
  }

  .search:focus{
	color: black
  }
  
  .search::placeholder{
	color: white;
	padding-left: 5px;
  }

.openModalBtn{
	width: 100px;
	background-color: #A6316A; 
	border: 1px solid #A6316A;
	border-radius: 10px;
	padding: 5px;
	margin: 0.9em;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;

}

.openLoginBtn{
	width: 100px;
	background-color: #FECF26; 
	border: 1px solid #FECF26;
	border-radius: 10px;
	padding: 5px;
	margin: 0.9em;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	margin-right: -30px;

}

.openLoginBtn:hover{
	background-color: #C2F9FF;
	border: #C2F9FF;
	color: #0A2543;
}

.openModalBtn:hover{
	background-color: #C2F9FF;
	border: #C2F9FF;
	color: #0A2543;
}