.sidebar{
	background-color: white;
}

.sideheading1{
	font-weight: bold;
	margin-left: -5px;
	font-size: 17px;
	letter-spacing: 0.5px;
	color: #0A2543;
}

.sideheading2{
	font-weight: bold;
	margin-left: -5px;
	font-size: 17px;
	letter-spacing: 0.5px;
	color: #0A2543;
}
.sideheading3{
	font-weight: bold;
	margin-left: -5px;
	font-size: 17px;
	letter-spacing: 0.5px;
	color: #0A2543;
}

.sideheading4{
	font-weight: bold;
	margin-left: -5px;
	font-size: 17px;
	letter-spacing: 0.5px;
	color: #0A2543;
	}

	/* Radio Button */
  .filterRadio{
	font-size: 10px;
	color: red; 
  }

  .rad-label {
	display: flex;
	align-items: center;
  
	border-radius: 100px;
	padding: 1px 16px;
	margin: 10px 0;
  
	cursor: pointer;
	transition: .3s;
  }
  
  .rad-label:hover,
  .rad-label:focus-within {
	background: hsla(0, 0%, 80%, .14);
  }
  
  .rad-input {
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 1px;
	opacity: 0;
	z-index: -1;
  }
  
  .rad-design {
	width: 15px;
	height: 15px;
	border-radius: 100px;
  
	background: linear-gradient(to right bottom, hsl(204, 86%, 22%), hsl(187, 86%, 46%));
	position: relative;
  }
  
  .rad-design::before {
	content: '';
  
	display: inline-block;
	width: inherit;
	height: inherit;
	border-radius: inherit;
  
	background: white;
	border: 1px solid black;
	transform: scale(1.1);
	transition: .3s;
  }
  
  .rad-input:checked+.rad-design::before {
	transform: scale(0);
  }
  
  .rad-text {
	margin-left: 14px;
	letter-spacing: 1px;
	font-size: 15px;
	transition: .3s;
  }
  
  .rad-input:checked~.rad-text {
	color: #0A2543;
  }
  

  /* Search Location */
.searchL{
	padding: 5px;
	margin: 0.9em;
	border-radius: 5px;
	border: 1px solid gray;
	outline: none;
	margin-top: -30px;
  }

  .searchL:focus{
	color: #0A2543;
  }
  
  .searchL::placeholder{
	color: gray;
  }

  /* Select input */

  select{
	width: 190px;
	height: 28px;
	border-radius: 5px;
	border: 1px solid gray;
	background-color: white;
	outline: none;

  }

  .selectSidebar, .selectJob{
	width: 200px;
	padding: 5px;
	margin: 0.9em;
  }

/* Slider */

.switchbox{
	padding-right: 60px;
	padding-top: 35px;
}

.switchbox span{
	font-size: 15px;
}
input:checked + .slider {
	background-color: #0A2543;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  

  .slider:before {
	position: absolute;
	content: "";
	height: 17px;
	width: 17px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }

