.modalBackground {
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 60%;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }
  
  .titleClosedBtn {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .titleClosedBtn button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modalContainer .body-login {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .body-login .bodytitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="text"],
  select {
    width: 100%;
    max-width: 400px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
  }
  
  .body-login .forgotPass {
    color: #3ac6ea;
    font-size: 14px;
    margin-top: 10px;
    text-align: right;
    width: 100%;
  }
  
  .body-login button {
    width: 100%;
    max-width: 400px;
    height: 40px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #3ac6ea;
    border: 1px solid #3ac6ea;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .body-login button:hover {
    background-color: #0a2543;
    border: 1px solid #0a2543;
  }
  
  .body-login button a {
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  .modalContainer .footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
  }
  
  .modalContainer .footer p {
    margin: 0;
  }
  
  .modalContainer .footer p span {
    margin-left: 5px;
  }
  
  .modalContainer .footer p span a {
    color: #3ac6ea;
    text-decoration: none;
    font-weight: bold;
  }