* {
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Grid */

  .item1 { grid-area: menuright; }
    .item2 { grid-area: totalcard; }

    .item3 { 
      grid-area: addjob;
      float: right;
     }
    .item4 { grid-area: jobs; }

    
    .gridd-container {
      display: grid;
      grid-template-areas:
      'menuright totalcard totalcard totalcard  totalcard totalcard'
      'menuright addjob addjob addjob addjob addjob'
      'menuright jobs jobs jobs jobs jobs';
      padding: 10px;
    }
    
   
  .openModalBtn a:hover{
    color: #0A2543;
    text-decoration: none;
  }

  .openModalBtn a{
    color: white;
    text-decoration: none;
  }